In [18]:
import pandas as pd
import random

df = pd.read_csv('output2.csv')

In [19]:
df = df[df['label']==1]

In [20]:
df = df.iloc[::5]

In [21]:
df = df.reset_index(drop=True)
df

,sent1,sent2,label,strategy
0,superhero [EM],A yellow-faced character with short blonde hai...,1,1
1,disappointed face [EM],A yellow circular face with a frown and closed...,1,1
2,airplane [EM],A silhouette of an airplane in flight.,1,1
3,technologist [EM],A person with short blonde hair sitting behind...,1,1
4,cold face [EM],A blue face with clenched teeth and icicles ha...,1,1
...,...,...,...,...
829,synagogue [EM],"A beige building with a triangular roof, two t...",1,1
830,crocodile [EM],A green crocodile depicted in a crouched posit...,1,1
831,glass of milk [EM],"A transparent glass filled with white liquid, ...",1,1
832,couple kissing [EM],"A depiction of two faces, one with long hair a...",1,1
833,fried_egg [EM],A black frying pan containing a sunny-side-up ...,1,1

In [22]:
# Function to generate negative samples
def generate_negative_samples(df):
    negative_samples = []
    for index, row in df.iterrows():
        # Randomly select a different 'sent2' to create a negative sample
        random_index = random.choice([i for i in range(len(df)) if i != index])
        negative_row = row.copy()
        negative_row['sent2'] = df.loc[random_index, 'sent2']
        negative_row['label'] = 0
        negative_samples.append(negative_row)
    
    # Convert list of negative samples to a DataFrame and append it
    negative_samples_df = pd.DataFrame(negative_samples)
    df = pd.concat([df, negative_samples_df], ignore_index=True)
    
    return df

# Generate negative samples and append them to the dataframe
df_with_negatives = generate_negative_samples(df)
df_with_negatives

,sent1,sent2,label,strategy
0,superhero [EM],A yellow-faced character with short blonde hai...,1,1
1,disappointed face [EM],A yellow circular face with a frown and closed...,1,1
2,airplane [EM],A silhouette of an airplane in flight.,1,1
3,technologist [EM],A person with short blonde hair sitting behind...,1,1
4,cold face [EM],A blue face with clenched teeth and icicles ha...,1,1
...,...,...,...,...
1663,synagogue [EM],A square button with rounded edges containing ...,0,1
1664,crocodile [EM],Two yellow hands pressed together with fingers...,0,1
1665,glass of milk [EM],A single red chili pepper with a green stem.,0,1
1666,couple kissing [EM],"A yellow face with closed eyes and a small, co...",0,1
1667,fried_egg [EM],A stuffed flatbread with visible ingredients s...,0,1

In [34]:
df_with_negatives.to_csv('detailed_description_only.csv', index=False)